* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 20px;
    padding-left: 20px;
}

.main-content {
    display: flex;
    flex-direction: column;
}

table {
    border-collapse: collapse;
    margin-bottom: 30px;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
    background-color: #e8f4f8;
}

header, .menu, .main-content, footer {
    width: 100%;
}

.header-content {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.top-row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 30px;
}

.top-row > *:last-child {
    margin-left: 20px;
}

ul ol {
    padding-left: 20px;
}

ul {
    margin-bottom: 30px;
}

form {
    margin-bottom: 30px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .main-content {
        display: flex;
        flex-direction: column;
        max-width: 960px;
        margin: 0 auto;
    }

    .main-content > ul {
        order: -2;
    }

    .menu {
        order: -1;
        display: flex;
        flex-direction: row;
        justify-content: right;
        margin-bottom: 0;
    }
}